services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: shivam
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql

volumes:
  db-data: